{% set classname = classname|default(null) %}

{% if post.content %}
<div class="single single-{{ post.post_type }} page-section {{ classname }}" id="page-{{ post.ID }}">
  {{ post.content }}
</div>
{% endif %}

{% if not post and fn('is_user_logged_in') %}
  <pre style="background-color: red;" class="color-white p-2 fz-xs">Page section with slug {{ slug }} not found.</pre>
{% endif %}

