{% extends "base.twig" %}

{% set title = post.title %}
{% set thumbnail = post.thumbnail %}
{% set previous_posts = post.get_previous_posts(2) %}

{% block content %}

<div class="post-single post-type-{{post.post_type}}" id="post-{{post.ID}}">

  <header class="post-single__header container-fluid">
    <h1>{{ title }}</h1>

    <p class="post-single__author">
      By <a href="{{post.author.path}}">{{ post.author.name }}</a> / {{ post.date }}
    </p>

    {% include 'partial/sharing.twig' with {'post': post} only %}
  </header>

  {% include 'partial/table-of-contents.twig' with {
    'anchors': get_table_of_contents(post.ID),
    'classname': 'container-fluid'
  } only %}

  <article class="post-single__body">
    {{ post.content }}
  </article>

  {% if previous_posts %}
  <footer class="post-single__footer container-fluid pt-50">
    <ol>
      {% for previous_post in previous_posts %}
      <li>
        {% include 'post-type/post/post-preview.twig' with {'post': previous_post} only %}
      </li>
      {% endfor %}
    </ol>
  </footer>
  {% endif %}

</div>

{% endblock %}
