{% extends "base.twig" %}

{% set title = post.title %}
{% set thumbnail = post.thumbnail %}
{% set previousPosts = post.previous_posts(3) %}

{% block content %}

<article class="post-single post-type-{{post.post_type}}" id="post-{{post.ID}}">

  <header class="post-single__header" data-scroll-section>
    <h1>{{ title }}</h1>

    <p class="post-single__author">
      By <a href="{{post.author.path}}">{{ post.author.name }}</a> / {{ post.date }}
    </p>

    <div class="post-single__body">
      {{ post.content }}
    </div>
  </header>

  {% if previousPosts %}
  <footer 
    class="post-single__footer container-fluid"
    data-scroll-section
  >
    <ol>
      {% for previousPost in previousPosts %}
      <li>
        {% include 'post-type/post/post-preview.twig' with {'post': previousPost} only %}
      </li>
      {% endfor %}
    </ol>
  </footer>
  {% endif %}

</article>

{% endblock %}
