{% if post %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}

{% set title = post.title %}
{% set link = post.link %}
{% set thumbnail = post.thumbnail %}
{% set type = post.type.labels.singular_name %}

<article
  class="search-preview {{ classname }}"
  {{ attributes|join(' ') }}
>
  <a
    href="{{ link }}"
    title="{{ title }}"
    class="search-preview__link d-block td-none"
  >
    {% if type %}
    <header class="search-preview__type">{{ __(type, 'mill3wp') }}</header>
    {% endif %}

    {% if thumbnail %}
    <figure class="search-preview__media w-100 box-square position-relative overflow-clip">
      {% include 'partial/image.twig' with {
        'image': thumbnail,
        'size': 'small',
        'classname': 'search-preview__img image-as-background'
      } only %}
    </figure>
    {% endif %}

    <h4 class="search-preview__title m-0">{{ title }}</h4>
  </a>
</article>

{% endif %}
