{% extends "base.twig" %}

{% set title = post.title %}
{% set thumbnail = post.thumbnail %}

{% block content %}

<div class="container-fluid post-single post-type-{{post.post_type}}" id="post-{{post.ID}}">

  <header class="post-single__header">
    <h1>{{ title }}</h1>

    {# custom attribute from model #}
    <pre>This is a custom attribute from models/dummy.php : {{ post.foo }}</pre>

  </header>

  <article class="post-single__body">
    {{ post.content }}
  </article>

</div>

{% endblock %}
