{% if post %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}

{% set title = post.title %}
{% set link = post.link %}

<article class="dummy-preview {{ classname }}" {{ attributes|join(' ') }}>

  <time class="d-block">{{ post.date }}</time>

  <h2 class="dummy-preview__title m-0 p-0">
    <a href="{{ link }}" title="{{ title }}" class="td-none">{{ title }}</a>
  </h2>

  {% include 'partial/link.twig' with {'link': link, 'title': title} only %}

</article>

{% endif %}
