{% set body_inverted = post.meta('bg_inverted') %}
{% set body_bg_color = post.meta('bg-color') %}
{% set body_text_color = post.meta('text-color') %}

{% set body_classname = [] %}
{% set body_styles = [] %}

{% if body_inverted %}
  {% set body_classname = body_classname|merge(['--bg-inverted']) %}
{% endif %}

{% if body_bg_color %}
  {% set body_styles = body_styles|merge(['--body-bg-color:' ~ body_bg_color]) %}
{% endif %}

{% if body_text_color %}
  {% set body_styles = body_styles|merge(['--body-text-color:' ~ body_text_color]) %}
{% endif %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACF Preview</title>
  <link rel="stylesheet" href="{{ site.url }}{{ stylesheet }}" type="text/css" media="all">
</head>
<body 
  class="acf-block-preview {{ body_classname|join(" ") }}" 
  data-windmill="container"
  {% if body_styles %}style="{{ body_styles|join(';') }}"{% endif %}
>
  {{ content }}
  <script src="{{ site.url }}{{ js }}"></script>
</body>
</html>
