{% extends "base.twig" %}

{% block head %}
<style type="text/css">
  .styleguide-color {
    flex: 0 1 100px;
    width: 100px;
    height: 30px;

    border-radius: 8px;
    box-shadow: 0 10px 10px 0 rgba(179, 179, 179, 0.4);
  }

  .styleguide-font:empty::before {
    content: "The quick brown fox jumps over the lazy dog";
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .styleguide [data-label] { position: relative; cursor: pointer; }

  .styleguide [data-label]::before, 
  .styleguide [data-label]::after {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    height: 20px;

    display: flex;
    align-items: center;

    padding: 0px 5px;
    white-space: nowrap;

    font-size: 11px;
    line-height: 1;
    font-family: var(--ff-mono);
    font-style: normal;
    text-transform: initial;
    font-weight: 400;

    background-color: var(--color-black);
    color: var(--color-white);

    opacity: 0.0001;
    transition: opacity 200ms linear;
    z-index: 20;

    pointer-events: none;
  }

  .styleguide [data-label]::after { content: attr(data-label); }
  .styleguide [data-label]::before { content: "copied to clipboard"; }

  .styleguide [data-label]:hover::after { opacity: 1.0001; }
  .styleguide [data-label].--copied:hover::after { opacity: 0.0001; }
  .styleguide [data-label].--copied:hover::before { opacity: 1.0001; }

</style>
{% endblock %}

{% set colors = [
  {
    'type': 'color',
    'colors':  [
      'black',
      'white',
      'primary',
      'secondary'
    ],
  },
  {
    'type': 'gray',
    'colors':  [
      '200',
      '300',
      '400',
      '500',
      '600'
    ],
  }
] %}

{% set ff = [
  {
    'type': 'heading',
    'family': 'Times Now',
    'classname': 'fz-20 fz-md-24 fz-xl-36 lh-none',
    'weights': [
      {
        'label': 'Regular (400)',
        'classname': 'fw-400'
      },
      {
        'label': 'Regular Italic',
        'classname': 'fw-400 fs-italic'
      },
      {
        'label': 'Bold (700)',
        'classname': 'fw-700'
      },
      {
        'label': 'Bold Italic',
        'classname': 'fw-700 fs-italic'
      }
    ]
  },
  {
    'type': 'body',
    'family': 'Basel Grotesk',
    'classname': 'fz-18 fz-md-20 fz-xl-24 lh-12',
    'weights': [
      {
        'label': 'Regular (400)',
        'classname': 'fw-400'
      },
      {
        'label': 'Regular Italic',
        'classname': 'fw-400 fs-italic'
      },
      {
        'label': 'Bold (700)',
        'classname': 'fw-700'
      },
      {
        'label': 'Bold Italic',
        'classname': 'fw-700 fs-italic'
      }
    ]
  }
] %}

{% set stylings = [
  {
    'label': 'Headings',
    'stylings': [
      {
        'classname': 'ff-heading fz-48 lh-none fw-400',
        'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
      },
      {
        'classname': 'ff-heading fz-36 lh-none fw-400'
      },
      {
        'classname': 'ff-body fz-20 lh-125 fw-700 tt-uppercase'
      }
    ]
  },
  {
    'label': 'Paragraphs',
    'stylings': [
      {
        'classname': 'ff-body fz-24 lh-125 fw-400'
      },
      {
        'classname': 'ff-body fz-18 lh-150 fw-400'
      },
      {
        'classname': 'ff-body fz-16 lh-150 fw-400'
      },
      {
        'classname': 'ff-body fz-14 lh-150 fw-400'
      }
    ]
  }
] %}

{% set uis = [
  {
    'label': 'Buttons on light background',
    'classname': 'bg-gray-200 color-black',
    'uis': [
      { 
        'type': 'button',
        'classname': 'btn',
        'title': 'Button CTA',
        'style': 'cta'
      },
      { 
        'type': 'button',
        'classname': 'btn',
        'title': 'Outline CTA',
        'style': 'cta',
        'variation': [
          'outline'
        ]
      },
      { 
        'type': 'button',
        'classname': 'btn',
        'title': 'Button Link',
        'style': 'link'
      }
    ]
  },
  {
    'label': 'Buttons on dark background',
    'classname': 'bg-color-black color-white',
    'uis': [
      { 
        'type': 'button',
        'classname': 'btn',
        'title': 'Button CTA',
        'style': 'cta',
        'variation': [
          'white'
        ]
      },
      { 
        'type': 'button',
        'classname': 'btn',
        'title': 'Outline CTA',
        'style': 'cta',
        'variation': [
          'white',
          'outline'
        ]
      },
      { 
        'type': 'button',
        'classname': 'btn',
        'title': 'Button Link',
        'style': 'link',
        'variation': [
          'white'
        ]
      }
    ]
  }
] %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="styleguide container-fluid pt-40 pb-40 pt-xl-80 pb-xl-80 d-flex flex-column grid-gap-30 grid-gap-xl-50" data-module="styleguide">
			<h1 class="styleguide-title fz-24 fz-md-36 fz-xl-48 lh-none fw-400 m-0">{{post.title}}</h1>

      <!-- Colors -->

      {% if colors %}
  			<div class="d-flex flex-column grid-gap-20">
  				<h2 class="styleguide-subtitle color-secondary ff-body tt-uppercase fz-12 fw-700 m-0">Colors</h2>
          {% for color_group in colors %}
            <div class="styleguide-row d-flex flex-wrap grid-gap-20">
              {% for color in color_group.colors %}
                <div class="styleguide-color bg-{{ color_group.type }}-{{ color }}" data-label="{{ color_group.type }}-{{ color }}"></div>
              {% endfor %}
            </div>
          {% endfor %}
  			</div>
      {% endif %}

      <!-- Font-families & Font-weights -->

      {% for family in ff %}
        <div class="d-grid grid-column-xl-2 grid-gap-20">
          <aside class="d-flex flex-column grid-gap-20">
            <h2 class="styleguide-subtitle color-secondary ff-body tt-uppercase fz-12 fw-700 m-0">Font-family</h2>
            <div class="{% if family.type %}ff-{{ family.type }} {% endif %}{{ family.classname }}"{% if family.type %} data-label="ff-{{ family.type }}"{% endif %}>{{ family.family }}</div>
          </aside>
          {% if family.weights %}
            <aside class="d-flex flex-column grid-gap-20">
              <h2 class="styleguide-subtitle color-secondary ff-body tt-uppercase fz-12 fw-700 m-0">Font-weights</h2>
              <div class="styleguide-row d-flex flex-column grid-gap-20 {% if family.type %}ff-{{ family.type }} {% endif %}{{ family.classname }}">
              {% for weight in family.weights %}
                <div class="{{ weight.classname }}" data-label="{% if family.type %}ff-{{ family.type }} {% endif %}{{ weight.classname }}">{{ weight.label }}</div>
              {% endfor %}
              </div>
            </aside>
          {% endif %}
        </div>
      {% endfor %}

      <!-- Stylings & Font-sizes -->

      {% if stylings %}
        <div class="d-flex flex-column grid-gap-20">
          <h2 class="styleguide-subtitle color-secondary ff-body tt-uppercase fz-12 fw-700 m-0">Stylings & Font-sizes</h2>
          <div class="d-flex flex-column grid-gap-30">
            {% for styling_group in stylings %}
              <div class="d-flex flex-column grid-gap-20 {{ styling_group.classname }}">
                <h3 class="styleguide-subtitle ff-body tt-uppercase fz-12 fw-700 gray-600 m-0">{{ styling_group.label }}</h3>
                <div class="d-flex flex-column grid-gap-20">
                  {% for styling in styling_group.stylings %}
                    <div class="{{ styling.classname }}" data-label="{{ styling.classname }}"><div class="styleguide-font">{{ styling.text }}</div></div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <!-- UI & Buttons -->

      {% if uis %}
        <div class="d-flex flex-column grid-gap-20">
    			<h2 class="styleguide-subtitle color-secondary ff-body tt-uppercase fz-12 fw-700 m-0">UI & Buttons</h2>
          <div class="d-grid grid-column-xl-2 grid-gap-20">
            {% for ui_group in uis %}
              <aside class="d-flex flex-column grid-gap-20 grid-gap-20 p-20 pb-xl-40 {{ ui_group.classname }}">
                <h3 class="styleguide-subtitle ff-body tt-uppercase fz-12 fw-700 m-0">{{ ui_group.label }}</h3>
                <div class="d-flex align-items-center grid-gap-20">
                  {% for ui in ui_group.uis %}

                    {% set ui_label = ui.classname  ~ ' --' ~ ui.style %}
                    {% set ui_clipboard_label_params = {} %}
                    {% set ui_params = {} %}
                    {% set ui_attr = ui.attrs|default([]) %}

                    {% if ui.title %}
                      {% set ui_params = ui_params|merge({ 'title': ui.title })%}
                      {% set ui_clipboard_label_params = ui_clipboard_label_params|merge({ 'title': ui.title })%}
                    {% endif %}

                    {% if ui.classname %}
                      {% set ui_params = ui_params|merge({ 'classname': ui.classname })%}
                      {% set ui_clipboard_label_params = ui_clipboard_label_params|merge({ 'classname': ui.classname })%}
                    {% endif %}

                    {% if ui.style %}
                      {% set ui_params = ui_params|merge({ 'style': ui.style })%}
                      {% set ui_clipboard_label_params = ui_clipboard_label_params|merge({ 'style': ui.style })%}
                    {% endif %}

                    {% if ui.variation %}
                      {% set ui_params = ui_params|merge({ 'variation': ui.variation|join(' ') })%}
                      {% set ui_label = ui_label ~ ' ' ~ ui.variation|map(v => '--' ~ ui.style ~ '-' ~ v)|join(' ') %}
                      {% set ui_clipboard_label_params = ui_clipboard_label_params|merge({ 'variation': ui.variation|join(' ') })%}
                    {% endif %}

                    {% if ui.icon %}
                      {% set ui_params = ui_params|merge({ 'icon': ui.icon })%}
                      {% set ui_clipboard_label_params = ui_clipboard_label_params|merge({ 'icon': ui.icon })%}
                    {% endif %}

                    {% set ui_clipboard_label = '{% include \'partial/'~ ui.type ~'.twig\' with {'~ ui_clipboard_label_params|map((value, key) => "'" ~ key ~ "' : '" ~ value ~ "'")|join(', ') ~ '} only %}' %}

                    {% set ui_attr = ui_attr|merge(['data-label="'~ ui_label ~ '"', 'data-clipboard-label="'~ ui_clipboard_label ~ '"']) %}

                    {% set ui_params = ui_params|merge({ 'attributes': ui_attr })%}

                    {% include 'partial/'~ ui.type ~'.twig' with ui_params only %} 

                  {% endfor %}
                </div>
              </aside>
            {% endfor %}
          </div>
        </div>
      {% endif %}

		</section>
	</article>
{% endblock %}
