{# template: <%= module_slug %> #}
{% extends 'page-builder/block-wrapper.twig' %}
{#
  Title: <%= ModuleName %>
  Description: <%= ModuleName %>
  Category: theme
  Icon: default
  Keywords: row
  Mode: edit
  PostTypes: page page_section
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "<%= ModuleName %>" }
#}

{% set post = Post(fields) %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('<%= module_slug %>-' ~ random()) %}

{% set title = post.title %}
{% set field = post.get_field('field') %}

{% block row_wrapper %}
<div
  id="{{ udid }}"
  class="pb-row <%= module_slug %> container-fluid {{ classname }}"
  {{ attributes|join(' ') }}
  data-scroll
  data-scroll-offset="100px,0"
  {# data-module="<%= module_slug %>"
  data-<%= module_slug %>#}
>

</div>
{% endblock %}
