{% set style = style|default(null) %}
{% set variation = variation|default(null) %}
{% set attributes = attributes|default([]) %}
{% set icon = icon|default(null) %}
{% set tagname = tagname|default('button') %}

{% set aria_roles = ['p', 'span', 'div'] %}

{% if id %}
  {% set attributes = attributes|merge(['id="'~ id ~'"']) %}
{% endif %}

{# aria-label can't be used with these HTML tags #}
{% if tagname not in aria_roles %}
  {% if aria_label %}
    {% set attributes = attributes|merge(['aria-label="'~ aria_label ~'"']) %}
  {% else %}
    {% set attributes = attributes|merge(['aria-label="'~ title ~'"']) %}
  {% endif %}
{% endif %}

{% if style and style in ['cta', 'link', 'social'] %}
  {% set classname = classname|split(' ')|merge(['--' ~ style])|join(' ')%}
{% endif %}

{% if style and variation %}
  {% set classname = classname|split(' ')|merge(variation|split(' ')|map(v => '--' ~ style ~ '-' ~ v))|join(' ')%}
{% endif %}

<{{ tagname }} class="btn {{ classname }}" {{ attributes|join(" ") }}>
  <span class="btn__bg" aria-hidden="true"></span>
  <span class="btn__label" aria-hidden="true">{{ title }}</span>

  {% if icon %}
  <span class="btn__icon --{{ icon }}" aria-hidden="true">{{ source('src/svg/' ~ icon ~ '.svg') }}</span>
  {% endif %}

  {% if tagname in aria_roles %}
  <span class="btn__a11y visually-hidden">{{ aria_label|default(title) }}</span>
  {% endif %}
</{{ tagname }}>
