{% set classname = classname|default('')|split(' ') %}
{% set attributes = attributes|default([]) %}
{% set is_preview = is_preview|default(false) %}

{% set tagname = tagname|default('h3') %}
{% set mode = mode|default('js') %}
{% set direction = direction|default(null) %}
{% set speed = speed|default(1) %}
{% set playInView = playInView ?? true %}
{% set inViewOffset = inViewOffset|default(-200) %}

{# force mode css for ACF Preview #}
{% if is_preview %}
  {% set mode = 'css' %}
  {% set classname = classname|merge(['--mode-' ~ mode]) %}
{% endif %}

{# make sure mode is valid #}
{% if mode not in ['css', 'js', 'scroll'] %}
  {% set mode = 'js' %}
{% endif %}

{# make sure direction is valid (both is only valid in SCROLL & JS mode) #}
{% if direction not in ['left', 'right', 'top', 'bottom', 'both'] %}
  {% set direction = mode == 'css' ? 'left' : 'both' %}
{% endif %}

{% if direction in ['top', 'bottom'] %}
  {% set classname = classname|merge(['flex-column', 'align-items-start']) %}
{% else %}
  {% set classname = classname|merge(['flex-row', 'align-items-center']) %}
{% endif %}

{% set attributes = attributes|merge(['style="--speed: ' ~ speed ~ '"']) %}

<div
  class="text-ticker d-flex flex-nowrap overflow-clip --direction-{{ direction }} {{ classname|join(' ') }}"
  {% if playInView %}
  data-scroll
  data-scroll-call="text-ticker"
  data-scroll-offset="{{ inViewOffset }}px,0"
  data-scroll-repeat="true"
  {% endif %}
  data-module="text-ticker"
  data-text-ticker="{{ mode }}"
  {{ attributes|join(' ') }}
>
  <{{tagname}} 
    class="text-ticker__text m-0 p-0" 
    {% if aria_label != false %}aria-label="{{ aria_label|default(text) }}"{% endif %}
    style="--ticker-index: 0;"
  >{{ text }}</{{tagname}}>

  {% if is_preview %}
  <{{tagname}} 
    class="text-ticker__text m-0 p-0" 
    {% if aria_label != false %}aria-label="{{ aria_label|default(text) }}"{% endif %}
    aria-hidden="true"
    style="--ticker-index: 0;"
  >{{ text }}</{{tagname}}>
  {% endif %}
</div>
