{% extends 'page-builder/block-wrapper.twig' %}
{#
  Title: Medias
  Description: Medias Gallery
  Category: media
  Icon: format-gallery
  Keywords: medias gallery
  Mode: edit
  PostTypes: page page_section
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "Medias" }
#}

{% set post = fields %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('pb-row-medias-' ~ random()) %}

{% set medias = post.medias %}
{% set layout = post.layout|default('slider') %}
{% set format = post.format|default('square') %}
{% set ticker_direction = post.ticker_direction|default('left') %}
{% set grid_gap = post.grid_gap|default(20) %}
{% set grid_gap_mobile = post.grid_gap_mobile|default(20) %}
{% set fullwidth = post.fullwidth|default(false) %}

{% set classname = classname ~ ' --layout-' ~ layout %}

{% if layout == 'slider' %}
  {% set attributes = attributes|merge([
    'data-module="pb-row-medias"',
    'data-pb-row-medias'
  ]) %}
{% endif %}

{% block row_wrapper %}
{% if medias %}

<div
  id="{{ udid }}"
  class="pb-row pb-row-medias {{ classname }}"
  {% if layout in ['slider', 'ticker', 'grid'] %}
  data-scroll
  data-scroll-offset="100px,0"
  {% endif %}
  {{ attributes|join(' ') }}
>
  {% if layout == 'slider' %}

  <div class="pb-row-medias__slider swiper-container">
    <aside
      class="pb-row-medias__nav container-fluid d-flex align-items-center justify-content-end"
      aria-hidden="true"
    >
      {% include 'partial/button.twig' with {
        'title': 'Précédent',
        'style': 'arrow',
        'variation': 'left',
        'classname': 'pb-row-medias__prev'
      } only %}

      {% include 'partial/button.twig' with {
        'title': 'Suivant',
        'style': 'arrow',
        'classname': 'pb-row-medias__next'
      } only %}
    </aside>

    <div class="swiper-wrapper">
      {% for media in medias if media.image %}
      <div class="pb-row-medias__slide pb-row-medias__media swiper-slide">
        <figure class="pb-row-medias__wrap d-block m-0 p-0">
          <div class="pb-row-medias__box overflow-hidden">
            {% include 'partial/image.twig' with {
              'image': Image(media.image),
              'classname': 'pb-row-medias__img'
            } only %}
          </div>

          {% if media.credit %}
          <figcaption class="pb-row-medias__caption d-block m-0 p-0">{{ media.credit }}</figcaption>
          {% endif %}
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>

  {% elseif layout == 'ticker' %}

  {% set filtered_medias = [] %}
  {% for media in medias if media.image %}
    {% set filtered_medias = filtered_medias|merge([media]) %}
  {% endfor %}

  <div class="pb-row-medias__ticker" aria-hidden="true">
    {% set ticker_content %}
    <ul
      class="pb-row-medias__ticker__list d-flex align-items-start list-none m-0 p-0"
      style="--item-length: {{ filtered_medias|length }}"
    >
      {% for media in filtered_medias %}
      {% set image = Image(media.image) %}
      <li
        class="mr-{{ grid_gap_mobile }} mr-lg-{{ grid_gap }}"
        style="--index:{{ loop.index0 }}"
      >
        <figure class="d-block w-100 m-0 p-0">
          {% include 'partial/image.twig' with {
            'image': image,
            'classname': 'pb-row-medias__img img-fluid'
          } only %}

          {% if media.credit %}
          <figcaption class="pb-row-medias__caption d-block m-0 mt-10 p-0">{{ media.credit }}</figcaption>
          {% endif %}
        </figure>
      </li>
      {% endfor %}
    </ul>
    {% endset %}

    {% include 'partial/text-ticker.twig' with {
      'text': ticker_content,
      'aria_label': false,
      'tagname': 'div',
      'mode': 'scroll',
      'direction': ticker_direction,
      'classname': 'pb-row-medias__ticker__ticker'
    } only %}
  </div>

  {% else %}

  <div class="pb-row-medias__grid d-grid grid-gap-{{ grid_gap_mobile }} grid-gap-lg-{{ grid_gap }} {% if fullwidth %}--fullwidth{% endif %}">
    {% for media in medias if media.image %}
    {% set image = Image(media.image) %}
    {% set sizes = {
      'grid-1': ['100vw'],
      'grid-2': ['50vw'],
      'grid-3': ['33.3334vw'],
      'grid-4': ['25vw'],
      'grid-third': loop.index0 % 2 == 0 ? ['66.666vw'] : ['33.3334vw'],
      'grid-center': ['100vw', null, '720px']
    } %}
    {% set parallax = {
      'portrait': 0.5,
      'photography': 0.5,
      'square': 0.43,
      'landscape': 0.35,
      'postal-card': 0.31,
      'half-square': 0.26,
      'widescreen': 0.275,
    } %}
    <div
      class="pb-row-medias__media"
      data-scroll
      data-scroll-offset="100px,0"
    >
      <figure
        id="{{ udid ~ '_' ~ loop.index }}"
        class="pb-row-medias__box box box-{{ format }} overflow-hidden"
      >
        <div
          class="pb-row-medias__parallax position-absolute t-0 l-0 r-0 b-0"
          data-scroll
          data-scroll-target="#{{ udid ~ '_' ~ loop.index }}"
          data-scroll-speed="{{ parallax[format]|default(0.5) }}"
        >
          {% include 'partial/image.twig' with {
            'image': image,
            'sizes': sizes[layout]|default(null),
            'classname': 'pb-row-medias__img image-as-background'
          } only %}
        </div>

        {% if media.credit %}
        <figcaption class="pb-row-medias__caption d-block m-0 p-0">{{ media.credit }}</figcaption>
        {% endif %}
      </figure>
    </div>
    {% endfor %}
  </div>

  {% endif %}

</div>

{% endif %}
{% endblock %}
