{% extends 'page-builder/block-wrapper.twig' %}
{#
  Title: Blockquote
  Description: Blockquote
  Category: text
  Icon: editor-quote
  Keywords: blockquote caption
  Mode: edit
  PostTypes: page page_section post
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: true
  Example: { "title": "Blockquote" }
#}

{% set post = fields %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}
{% set udid = udid|default('pb_row_blockquote-' ~ random()) %}

{% set text = post.text %}
{% set credit = post.credit %}

{% block row_wrapper %}
<div
  id="{{ udid }}"
  class="pb-row pb-row-blockquote container-fluid {{ classname }}"
  {{ attributes|join(' ') }}
  data-scroll
  data-scroll-offset="100px,0"
>

  <blockquote class="pb-row-blockquote__text d-block ff-heading fz-30 fz-lg-64 fw-300 lh-none m-0 row-start-md-1">
    {{ text }}
  </blockquote>
  {% if credit %}
    <figcaption class="pb-row-blockquote__credit position-relative fz-14 fz-lg-base d-block row-start-md-2 lh-none">
        {{ credit }}
    </figcaption>
  {% endif %}

</div>
{% endblock %}
