{% extends 'page-builder/pb_row_wrapper.twig' %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}

{% set title = post.title %}
{% set text = post.text %}
{% set buttons = post.buttons %}
{% set position = post.position|default('right') %}
{% set width = post.width|default('default') %}

{% block row_wrapper %}
<div
  class="pb-row pb-row-text-simple container-fluid d-flex grid-gap-20 --position-{{ position }} --width-{{ width }}  {{ classname }}"
  {{ attributes|join(' ') }}
  data-scroll
  data-scroll-offset="100px,0"
>

  {% if title %}
  <header class="pb-row-text-simple__header">
    <h2 class="pb-row-text-simple__title fz-24 fz-lg-30 fz-xl-36 lh-ff-heading fw-400 m-0 p-0">
      {{ title }}
    </h2>
  </header>
  {% endif %}

  <aside class="pb-row-text-simple__content">
    <div class="pb-row-text-simple__text fz-16 fz-xl-18 lh-relaxed lh-xl-chill wysiwyg">
      {{ text }}
    </div>

    {% if buttons %}
      {% include 'partial/links-nav.twig' with {
        'buttons': buttons,
        'classname': 'pb-row-text-simple__buttons mt-20 mt-lg-50'
      } only %}
    {% endif %}
  </aside>

</div>
{% endblock %}
