{% set is_preview = is_preview ?? false %}
{% set zindex = zindex ?? 0 %}

{% set pb_row_id = post ? post.pb_row_id : pb_row_id %}
{% set effect = post ? post.effect|default(null) : null %}

{% set pt = post ? post.pt|default(0) : spacer_mobile|default(0) %}
{% set pb = post ? post.pb|default(0) : spacer_mobile|default(0) %}
{% set pt_lg = post ? post.pt_lg|default(0) : spacer|default(0) %}
{% set pb_lg = post ? post.pb_lg|default(0) : spacer|default(0) %}

{% set mt = post ? post.mt|default(0) : 0 %}
{% set mb = post ? post.mb|default(0) : 0 %}
{% set mt_lg = post ? post.mt_lg|default(0) : 0 %}
{% set mb_lg = post ? post.mb_lg|default(0) : 0 %}


{% set row_classname = [] %}
{% set row_styles = ['--zindex:' ~ zindex] %}

{# create CSS colors variables from ACF stored values #}
{% for color in ['text-color', 'bg-color'] %}
  {% set color_value = post[color] %}
  {% if color_value %}
    {% set row_styles = row_styles|merge(['--' ~ color ~ ':' ~ color_value]) %}
  {% endif %}
{% endfor %}

{# paddings #}
{% set row_paddings = ['pt-' ~ pt, 'pb-' ~ pb, 'pt-lg-' ~ pt_lg, 'pb-lg-' ~ pb_lg] %}

{# apply margins only on frontend #}
{% if not is_preview %}
  {% set row_classname = row_classname|merge([
    'mt-' ~ mt,
    'mb-' ~ mb,
    'mt-lg-' ~ mt_lg,
    'mb-lg-' ~ mb_lg
  ]) %}
{% endif %}

{% if post and post['bg-color'] %}
  {% set row_classname = row_classname|merge(['--has-bg']) %}
{% endif %}

{% if post and post['text-color'] %}
  {% set row_classname = row_classname|merge(['--has-text-color']) %}
{% endif %}

{% if layout %}
  {% set row_classname = row_classname|merge(['--layout-' ~ layout]) %}
{% endif %}

{% if first %}
  {% set row_classname = row_classname|merge(['--first']) %}
{% endif %}

{% if last %}
  {% set row_classname = row_classname|merge(['--last']) %}
{% endif %}


{# create wrapper for reveal effect #}
{% if effect == 'reveal' %}
  {% set pb_row_id = pb_row_id|default('pb_row_wrapper-' ~ random()) %}

  {% set row_open_block %}
    <div 
      id="{{ pb_row_id }}"
      class="pb-row-wrapper --effect-reveal position-relative {{ row_classname|join(' ') }}" 
      data-module="pb-row-wrapper-reveal"
      data-module-delay
      data-pb-row-wrapper-reveal
      {% if row_styles|length > 0 %}
      style="{{ row_styles|join(";") }}"
      {% endif %}
    >
      <div class="pb-row-wrapper__reveal {{ row_paddings|join(' ') }}">
  {% endset %}

  {% set row_close_block %}
      </div>
    </div>
  {% endset %}

{% else %} {# create default wrapper (no effect) #}

  {% set row_open_block %}
    <div 
      {% if pb_row_id %}id="{{ pb_row_id }}"{% endif %}
      class="pb-row-wrapper position-relative {{ row_paddings|join(' ') }} {{ row_classname|join(' ') }}" 
      data-module-delay
      {% if row_styles|length > 0 %}
      style="{{ row_styles|join(";") }}"
      {% endif %}
    >
  {% endset %}

  {% set row_close_block %}
    </div>
  {% endset %}

{% endif %}


{{ row_open_block }}

  {% block row_wrapper %}{% endblock %}

  {# add notice in preview mode #}
  {% if is_preview %}
    {% set notices = [] %}

    {% if pt or pb or pt_lg or pb_lg %}
      {% set notices = notices|merge(['Padding: ' ~ pt ~ '/' ~ pb ~ ' --> ' ~ pt_lg ~ '/' ~ pb_lg]) %}
    {% endif %}

    {% if mt or mb or mt_lg or mb_lg %}
      {% set notices = notices|merge(['Margin: ' ~ mt ~ '/' ~ mb ~ ' --> ' ~ mt_lg ~ '/' ~ mb_lg]) %}
    {% endif %}

    {% if notices %}
    <span 
      style="font-size: 9px; background-color: rgba(0,0,0,0.7); color: white;" 
      class="ff-mono m-0 py-1 px-2 d-block position-absolute t-0 l-0 lh-1"
    >
      {{ notices|join('<br />') }}
    </span>
    {% endif %}
  {% endif %}

{{ row_close_block }}
