{% set row_classname = [] %}

{% set padding_top = post ? post.padding_top|default(0) : spacer|default(0) %}
{% set padding_bottom = post ? post.padding_bottom|default(0) : spacer|default(0) %}
{% set padding_top_mobile = post ? post.padding_top_mobile|default(0) : spacer_mobile|default(0) %}
{% set padding_bottom_mobile = post ? post.padding_bottom_mobile|default(0) : spacer_mobile|default(0) %}

{% set row_classname = row_classname|merge([
  'pt-' ~ padding_top_mobile,
  'pb-' ~ padding_bottom_mobile,
  'pt-md-' ~ padding_top,
  'pb-md-' ~ padding_bottom
]) %}


<div 
  class="pb-row-wrapper {{ row_classname|join(' ') }}" 
  data-scroll-section
>

  {% block row_wrapper %}{% endblock %}

  {# add notice in preview mode #}
  {% if is_preview and (padding_top_mobile or padding_bottom_mobile or padding_top or padding_bottom) %}
    <span 
      style="font-size: 9px; background-color: rgba(0,0,0,0.7); color: white;" 
      class="ff-mono m-0 py-1 px-2 d-block position-absolute t-0 l-0 lh-1"
    >
      Padding: {{ padding_top_mobile }}/{{ padding_bottom_mobile }} --> {{ padding_top }}/{{ padding_bottom }}
    </span>
  {% endif %}

</div>
