{% extends 'page-builder/pb_row_wrapper.twig' %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}

{% set title = post.title %}
{% set text = post.text %}
{% set gravity_form_id = post.gravity_form_id %}

{% block row_wrapper %}
<div
  class="pb-row pb-row-form container-fluid {{ classname }}"
  data-module="pb-row-form"
  data-pb-row-form
  {{ attributes|join(' ') }}
>
  {% if title %}
  <h3 class="pb-row-form__title m-0 p-0">{{ title }}</h3>
  {% endif %}

  {% if text %}
  <div class="pb-row-form__text wysiwyg">{{ text }}</div>
  {% endif %}

  {% if gravity_form_id %}
  <div class="pb-row-form__form w-100">
    {{ function('do_shortcode', '[gravityform id="' ~ gravity_form_id ~ '" title="false" description="false" ajax="true"]') }}
  </div>
  {% endif %}
</div>
{% endblock %}
