{% extends 'page-builder/pb_row_wrapper.twig' %}

{% set classname = classname|default('') %}
{% set attributes = attributes|default([]) %}

{% set title = post.title|default(null) %}
{% set text = post.text|default(null) %}
{% set testimonials = post.testimonials|default([]) %}

{% block row_wrapper %}
<section
  class="pb-row pb-row-testimonials {{ classname|join(' ') }}"
  {{ attributes|join(' ') }}
>
  {% if title %}
  <h3 class="pb-row-testimonials__title m-0 p-0">{{ title }}</h3>
  {% endif %}

  {% if text %}
  <div class="pb-row-testimonials__text wysiwyg">{{ text }}</div>
  {% endif %}


  <div 
    class="pb-row-testimonials__slider swiper-container overflow-hidden"
    data-module="pb-row-testimonials"
    data-pb-row-testimonials
  >
    <div class="swiper-wrapper pb-6">

      {% for testimonial in testimonials %}
      <blockquote class="pb-row-testimonials__testimonial d-flex flex-column align-items-center swiper-slide m-0">
        <p class="pb-row-testimonials__testimonial__text fz-xl fw-600 ta-center m-0 mb-4 mx-auto">{{ testimonial.text|nl2br }}</p>
        <figcaption class="pb-row-testimonials__testimonial__credit d-block fz-lg lh-small ta-center m-0 mx-auto">{{ testimonial.credit }} </figcaption>
      </blockquote>
      {% endfor %}
      
    </div>

    <div class="swiper-pagination" data-num-slides="{{ testimonials|length }}"></div>
  </div>

</section>
{% endblock %}
